<h1>Create an Event</h1>
<%= form_with(model: @event) do |form| %>
  <%= form.label :eventname %> <br>
  <%= form.text_field :eventname %> <br>
  
  <%= form.label :location %> <br>
  <%= form.text_field :location %> <br>

  <%= form.label :date %> <br>
  <%= form.date_select :date %> <br>
  
  <%= form.label :time %> <br>
  <%= form.time_select :time %> <br>

  <%= form.submit "Create Event"%>
<% end %>